.toolsItem{
    color: orange;
    font-style: normal;
}

.toolsContainer {
    padding-left: 40px;
    margin-left: 10px;
    border-left: 2px solid rgba(255, 255, 255, 0.13);
}

.tools {
    margin-bottom: 10px;
}

.toolsCode {
    margin-left: 20px;
    font-size: 14px;
    color: rgba(150, 255, 167, 0.466);
}

.toolsIcon {
    width: 20px;
}

.toolsTitle {
    display: flex;
    flex-direction: rox;
    align-items: center;
    gap: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.toolsName {
    color: white;
    font-weight: lighter;
}

.toolsContainer {
    padding-left: 40px;
    margin-left: 10px;
    border-left: 2px solid rgba(255, 255, 255, 0.13);
}

.square {
    content: " ";
    width: 8px;
    height: 15px;
    background-color: rgba(80, 80, 80, 0.212);
    border: 1px solid rgba(133, 133, 133, 0.164);
    border-radius: 2px;
    transform: skewX(-15deg);

    &-green {
        content: " ";
        width: 8px;
        height: 15px;
        background-color: green;
        border: 1px solid rgba(92, 255, 92, 0.418);
        border-radius: 2px;
        transform: skewX(-15deg);
    }
}

.toolsLevel {
    display: flex;
    flex-direction: row;
    gap: 5px;
}


// MEDIA QUERIES

@media (max-width: 480px) {

    .toolsContainer {
        padding-left: 15px;        
    }
    
    .toolsLevel {
        gap: 2px;
    }

    .square {
    
        width: 5px;
        height: 15px;
        transform: skewX(0deg);
    
        &-green {
           
            width: 5px;
            height: 15px;
            transform: skewX(0deg);
        }
    }
}