.job {
    margin-bottom: 10px;
    margin-left: 30px;
}

.code {
    margin-left: 30px;
    &-dates{
        color: rgba(150, 255, 167, 0.466);
        font-style: italic;
    }
}

.classTitle {
    font-size: 18px;
    margin-bottom: 10px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 14px;
}
span {
    color: rgba(48, 155, 255, 0.733);
    font-style: italic;
}

em {
    color: rgba(255, 60, 167, 0.658);
}