* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  font-family: "Victor Mono";
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(29, 33, 39);
  color: white;
  // background-image: url("../public/assets/images/gitWall.png");
  // background-repeat: no-repeat;
  // background-size: 10%;
  // background-position-x: 100%;
  // background-position-y: 0%;
}

.webContent {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.eduAndExp {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  gap: 20px;
  padding-top: 40px;
}

.education {
  width: 48%;
  min-width: 300px;
}

.experience {
  width: 48%;
  min-width: 300px;
}

.sidebar {
  width: 70px;
  height: 100vh;
  padding-right: 30px;
  overflow: hidden;
  text-align: right;
  line-height: 25px;
  color: rgb(102, 102, 102);
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}