.languageItem{
    color: orange;
    font-style: normal;
}

.languageContainer {
    padding-left: 40px;
    margin-left: 10px;
    border-left: 2px solid rgba(255, 255, 255, 0.13);
}

.languages {
    margin-bottom: 10px;
}

.languageCode {
    margin-left: 20px;
    font-size: 14px;
    color: rgba(150, 255, 167, 0.466);
}